<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to SkipTraceBook!
      </h1>
      <h2 class="subtitle">
        a social network built for connectivity.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    What we offer:
  </div>
</section>