<% provide(:title, "About Us") %>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered is-1">
        Leading the world of people-finding.
      </h1>
      <h1 class="subtitle has-text-centered is-4">
        Founded in 1907 by Albert Skipper and Trace Jensen, who took turns punching out code on an ancient Steam-Abacus in the back room of their neighborhood shoe-polish factory, SkipTraceBook strives to be a fully functional, powerful social network platform. Our key philosophies for staying on top of the game:
      </h1>
    </div>
  </div>
</section>

<%= content_tag :hr, "", class: "hr" %>

<div class="columns">
  <div class="column">
    <h1 class="title has-text-centered">
      Transparency.
    </h1>
    <h3 class="subtitle has-text-centered is-5">
      We hope to continuously provide a full and complete understanding of our goals and mission as they pertain to our company. Everything, from our datacenter infrastructure, to our receptionist's favorite Spotify playlist, to the coffee we have in our office cupboard, will be documented fully in our company newsletter.
    </h3>
  </div>
  <div class="column">
    <h1 class="title has-text-centered">
      Familiarity.
    </h1>
    <h3 class="subtitle has-text-centered is-5">
      We work every day to maintain an intimate knowledge of our clients. If we don't know something about someone, that bothers us on a deep level. So we'll run their private data through lots of advanced algorithms to pinpoint their deepest desires, so we can target ads at them constantly. Hooray for Big Brother Marketing!
    </h3>
  </div>
  <div class="column">
    <h1 class="title has-text-centered">
      Accessibility.
    </h1>
    <h3 class="subtitle has-text-centered is-5">
      We aim to create a SkipTraceBook account for every person on planet Earth by next year for maximum interconnectivity. If we cannot achieve this goal, we plan on giving away accounts in a guerilla campaign, mainly featuring cereal boxes, fortune cookies, bundling our signup client with every iPhone, and our own flavor of Ben N' Jerry's called Camera Shy.
    </h3>
  </div>
</div>