<% provide(:title, "About Us") %>

<h1>Leading the world of people-finding.</h1>
<p>
  Founded in 1907 by Albert Skipper and Trace Jensen, SkipTraceBook strives to be a fully functional, powerful social network platform. Our key philosophies for staying on top of the game:
</p>
<ul>
  <li><em>Transparency.</em><br />
    We hope to continuously provide a full and complete understanding of our goals and mission.
  </li>
  <li><em>Familiarity.</em><br />
    We work every day to maintain an intimate knowledge of our clients.
  </li>
  <li><em>Accessibility.</em><br />
    We aim to create a SkipTraceBook account for every person on planet Earth by next year for maximum interconnectivity.
  </li>
</ul>