<h1>Welcome to the Rest Of Your Life.</h1>

<p>Our feedback loops will provide you with endless distractions from your boring life by looking at everyone else's <em>highlights</em> of their own boring life. You'll spend hours on your phone in bed scrolling through endless baby pictures, views from safe warm cars driving through inhospitable landscapes, political propagandist bullshit, and all-too-vaguely applicable Bible verses. Thoughts and prayers.</p>