<% if user_signed_in? %>
  <div class="columns">
    <div class="column is-one-third">
      <div class="container">
        <%= render 'shared/user_card', user: current_user %>
      </div>
      <div class="container">
        <%= render 'posts/create_post' %>
      </div>
    </div>
    
    <div class="column is-two-thirds">
      <%= render 'shared/user_feed' %>
    </div>
  </div>
<% else %>
  <%= render 'signed_out_home' %>
<% end %>