<% provide(:title, 'Find Friends') %>

<%= content_tag :h1, "Find Friends", class: "title is-1" %>

<%= content_tag :hr, "", class: "hr" %>

<div class="tile is-ancestor">
  <% @users.each_slice(3) do |column| %>
    <div class="tile is-parent is-4 is-vertical">
      <% column.each do |user| %>
        <article class="tile is-child">
          <%= render 'shared/user_card',   user: user %><br />
        </article>
      <% end %>
    </div>
  <% end %>
</div>

<%= will_paginate @users, renderer: BulmaPagination::Rails, class: 'is-primary' %>