<% provide(:title, 'All users') %>

<p id="notice"><%= notice %></p>

<%= will_paginate @users, renderer: BulmaPagination::Rails, class: 'is-primary' %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate @users, renderer: BulmaPagination::Rails, class: 'is-primary' %>