<% provide(:title, "#{@user.name}'s Friends") %>

<div class="tile is-ancestor">
  <% @friends.each_slice(3) do |column| %>
    <div class="tile is-parent is-4 is-vertical">
      <% column.each do |user| %>
        <article class="tile is-child">
          <%= render 'shared/user_card', user: user %>
        </article>
      <% end %>
    </div>
  <% end %>
</div>

<%= will_paginate @friends, renderer: BulmaPagination::Rails, class: 'is-primary' %>