/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* import a font */

@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

/* set Bulma variables */

$green: #375e37;
$grey_green: #e6fff2;

/* override Bulma's default colors */

$custom-colors:          ("primary": ($green));
$pagination-focus-border-color:       $green;
$pagination-current-background-color: $green;
$pagination-current-border-color:     $green;
$navbar-item-color:                   $green;
$navbar-item-hover-color:             $green;
$input-focus-border-color:            $green;
$file-cta-color:                      $green;

/* file names in 'upload a photo' buttons */
$file-name-max-width: 14em;

@import 'bulma';