/* navbar */

.navbar {
  margin-bottom: 5%;
  padding: 0 6%;
}

.navbar-brand {
  margin-right: 1%;
}

#navbar-logo {
  margin-top: 6%;
}

header {
  margin-bottom: 1%;
}

.file {
  display: inline;
  float: right;
}