<p>Hello <%= @name %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>You've changed your email to <%= @resource.unconfirmed_email %>!</p>
<% else %>
  <p>You've changed your email to <%= @resource.email %>!</p>
<% end %>
